<!DOCTYPE html>
<html>
<head>
<title>login and registration</title>
</head>
<body>
<%= button_to "Login", login_path,method: :get %>
<%= button_to "register", register_path,method: :get %>

</body>
</html>

